<div class="container">
  <h1>About page</h1>
  <p> This is a website built by Emil Ingemansson. I created this website as a practice using Ruby on Rails to 
  get practice on how to create a good looking website with some functionaliy that other websites have.</p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum consectetur quam laudantium, 
  a quidem tenetur velit voluptatem expedita! Iure, saepe! Hic, fuga architecto tenetur sequi facilis aliquid similique quasi, nam.</p>
</div>