<div class="container membership-signup-links">
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Basic Membership</h2>
        <h4>Sign up for free and gain access to the basic resources that this website has to offer!
        This includes being able to check out the website and sign in!</h4>
        <br/>
        <%= link_to "Sign up with Basic", "#", class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Pro Membership</h2>
        <h4>Sign up for a low $10 a month to be able to gain access to the same resources that the
        free basic plan has but being able to give me 10 dollars per month!</h4>
        <br/>
        <%= link_to "Sign up with Pro", "#", class: 'btn btn-success btn-lg btn-block' %>
      </div>
    </div>
  </div>
</div>